{
    "extends": "airbnb",
    "rules": {
        "indent": [2, 4],
        "max-len": [1, 120, 4, {"ignoreUrls": true}],
        "no-new": [1],
        "no-extra-semi": [2],
        "no-warning-comments": [1, { "terms": ["todo", "fixme", "xxx"], "location": "start" }],
        "react/sort-comp": [0],
        "react/jsx-boolean-value": [0],
        "id-length": [1, {"min": 2, "exceptions": ["x", "y", "e", "i", "j", "k", "d", "n", "_", "$"]}],
        "jsx-quotes": [2, "prefer-double"],
        "arrow-body-style": [2, "as-needed"],
        "react/jsx-indent-props": [1, 4],
        "react/jsx-indent": [1, 4],
        "react/prefer-stateless-function": [0],
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/no-unescaped-entities": [0],
        "import/no-dynamic-require": [0]
    },
    "env": {
        "es6": true,
        "jest": true
    },
    "globals": {
        "document": true
    }
}
