// -----------------------------------------------------------------------------
// Elements
// -----------------------------------------------------------------------------

*,
:after,
:before {
    box-sizing: border-box;
}

*:active,
*:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

// We have Js that adds outline when
// keyboard tabbing but add back if no js
.no-js {
    *:focus {
        outline: solid 3px $color-focus;
    }
}

html {
    height: 100%;
    min-height: 100%;
    font-size: 16px; // aka 1rem!
    background-color:$color-grey-mist;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    position: relative;
    font-family: $font-family-primary;
    font-weight: $font-weight-normal;
    line-height: $line-height-base;
    color: $color-text;
    background-color: $color-grey-mist;
}


::selection {
    background: $color-select; // WebKit/Blink Browsers
}

::-moz-selection {
    background: $color-select; // Gecko Browsers
}
