// -----------------------------------------------------------------------------
// Inline block grid
// -----------------------------------------------------------------------------
//
// This grid uses inline blocks, to ensure that rows of different height
// elements are always spaced consistently.
//
// Note that it uses a font-size hack, so you should set your type in rems
// when using this grid system
//
// Use the grid in conjunction with some widths set out in `_widths.scss`:
//
// <div class="grid">
//     <div class="one-third">Skinny</div>
//     <div class="two-thirds">Wide</div>
// </div>


.grid {
    font-size: 0;

    > * {
        @extend %inline-block;

        width: 100%;
        margin-top: 0;
        // Font-size medium reset the block to the context of body (ie, 16px)
        font-size: medium;
        text-align: left;
        vertical-align: top;

        text-justify: auto;
    }

    &:after {
        @extend %inline-block;

        width: 100%;
        height: 0;
        content: '';
    }
}

// -----------------------------------------------------------------------------
// Float grid
// -----------------------------------------------------------------------------
//
// This grid uses a negative margin on the container with equal padding-left on
// the children in order to create a grid with consistent column widths.

// The gutters can be toggled off with  the `-gutters-off` modifier class.

$grid-gutter: 3rem;
$grid-gutter-wide: 6rem;
$grid-row-spacing: 1.5rem;

.grid-float {
    @extend %clearfix;

    width: auto;
    margin-left: -$grid-gutter;

    > * {
        float: left;
        width: 100%;
        padding-left: $grid-gutter;
    }

    &.-gutters-off,
    &.-flush {
        margin-left: 0;

        > * {
            padding-left: 0;
        }
    }

    &.-gutter-wide {
        @include medium {
            margin-left: -$grid-gutter-wide;

            > * {
                padding-left: $grid-gutter-wide;
            }
        }
    }

    &.-space {
        > * {
            margin-bottom: $grid-row-spacing;
        }
    }
}


// -----------------------------------------------------------------------------
// Container gutters
// -----------------------------------------------------------------------------

.gutters {
    padding-right: 5%;
    padding-left: 5%;
}
