// -----------------------------------------------------------------------------
// Typography
// -----------------------------------------------------------------------------

@mixin font-smoothing {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@mixin font-smoothing-off {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}

@mixin serif {
    font-family: $font-family-serif;
}

@mixin sans-serif {
    font-family: $font-family-sans-serif;
}

@mixin body-type-size {
    font-size: rem($font-size-base);

    @include font-smoothing;

    @include medium {
        font-size: rem($font-size-base + 2);
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @include font-smoothing;
    line-height: $line-height-headline;
    font-weight: $font-weight-normal;
    letter-spacing: 0;

    &:first-child {
        margin-top: 0;
    }

    > a {
        font-weight: inherit;
        text-decoration: none;
    }
}

%h1,
.h1,
h1 {
    font-size: rem(28);

    @include medium {
        font-size: rem(32);
    }
}

%h2,
.h2,
h2 {
    margin-bottom: 0;
    font-weight: $font-weight-bold;
    font-size: 1.5rem;
}

%h3,
.h3,
h3 {
    font-size: 1.25rem;
    margin-bottom: 0;
}

p {
    margin-bottom: 1rem;
}

p,
ul,
ol,
dl,
address {
    margin-top: 0;
}

p,
li,
label,
td,
th,
input,
textarea,
button,
select,
blockquote,
cite {
    @include body-type-size;
}

p:empty {
    display: none;
}

.strong,
strong,
b {
    font-weight: $font-weight-bold;
}

.italic,
i,
em {
    font-style: italic;
}

// Text colours 

.color-text-cement {
    color: $color-grey-cement !important;
}
