// ----------------------------------------------------------------------------
// Utilities
// ----------------------------------------------------------------------------
//
// CONTENTS --
// 1. Layout Helpers
// 2. Text Helpers
// 3. Accessibility Helpers
// 4. Margin & Padding Helpers
//


// 1. Layout Helpers
// ----------------------------------------------------------------------------
//

.u-clearfix,
%clearfix {
    &:before,
    &:after {
        display: table;
        content: ' ';
    }
    &:after {
        clear: both;
    }
}

.u-inline-block,
%inline-block {
    display: inline-block;
    vertical-align: top;

    *display: inline;
    *zoom: 1;
}

.u-inline-block-medium,
%inline-block-medium {
    @include medium {
        display: inline-block;
        vertical-align: top;

        *display: inline;
        *zoom: 1;
    }
}

.u-align-middle {
    vertical-align: middle;
}

.u-align-bottom {
    vertical-align: bottom;
}

.u-block {
    display: block;
    visibility: visible;
}

.u-hidden {
    display: none;
    visibility: hidden;
}

.u-hidden-small {
    // @small (_breakpoints.scss) must use max-width 
    @include small {
        display: none;
        visibility: hidden;
    }
}

.u-hidden-medium {
    @include medium {
        display: none;
        visibility: hidden;
    }
}

// Hidding elements on Touch devices
.touch .u-hidden-touch {
    display: none;
    visibility: hidden;
}

// Hidding elements on Non Touch screens
.no-touch .u-hidden-no-touch {
    display: none;
    visibility: hidden;
}

.u-overflow {
    overflow: hidden;
}

.u-margin-center,
%margin-center {
    margin-right: auto;
    margin-left: auto;
}

.u-list,
%list-reset {
    padding: 0;
    margin: 0;
    list-style: none;
}


// 2. Text Helpers
// ----------------------------------------------------------------------------
//

.u-text-center {
    text-align: center;
}

.u-text-right {
    text-align: right;
}

.u-text-bold {
    font-weight: $font-weight-bold;
}

.u-text-uppercase {
    text-transform: uppercase;
}

.u-text-underline {
    text-decoration: underline;
}

// * 1. Ensures text doesn't wrap and break your layout
// * 2. Trigger overflow behavior
// * 3. Truncate the text
.u-text-truncate {
    overflow: hidden;               // [2]
    text-overflow: ellipsis;        // [3]
    white-space: nowrap;            // [1]
}

// Prevent all user interaction with the element
.u-disabled {
    pointer-events: none;
    cursor: default;
}


// 3. Accessibility Helpers
// ----------------------------------------------------------------------------
//

// An accessible label that takes up no visual space
.u-accessible,
%visuallyhidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0); /* Deprecated but still needed to support Firefox & IE */
    border: 0;

    -webkit-clip-path: inset(1px); /* Webkit support */
    clip-path: inset(1px); /* New (experimental) CSS property */
}


// 4. Margin & Padding Helpers
// ----------------------------------------------------------------------------
//

%no-top-margin-first {
    &:first-child {
        margin-top: 0;
    }
}

%no-bottom-margin-last {
    &:last-child {
        margin-bottom: 0;
    }
}
