//
// ---------------------------------------------------------------------------
// Widths
// ---------------------------------------------------------------------------
//
// Can be applied to anything.
// Widths, like states and utilities, should come near the end of the
// stylesheet to ensure they are obeyed.
//
// Try not to apply widths with a specificity of > 1. Don't do this:
//
// .something > li { width: 100% }
//
// If you//do* need to set a width, try BEMing it to keep specificity down:
//
// .something__item { width: 100% }
//
//

.one-tenth {
    width: 10%;
}
.one-quarter {
    width: 25%;
}
.one-fifth {
    width: 20%;
}
.one-third {
    width: 33.333333333%;
}
.three-tenths {
    width: 30%;
}
.two-fifths {
    width: 40%;
}
.one-half {
    width: 50%;
}
.three-fifths {
    width: 60%;
}
.two-thirds {
    width: 66.666666666%;
}
.seven-tenths {
    width: 70%;
}
.three-quarters {
    width: 75%;
}
.four-fifths {
    width: 80%;
}
.nine-tenths {
    width: 90%;
}
.full {
    width: 100%;
}

@include small {
    .small-one-tenth {
        width: 10%;
    }
    .small-one-quarter {
        width: 25%;
    }
    .small-one-fifth {
        width: 20%;
    }
    .small-one-third {
        width: 33.333333333%;
    }
    .small-three-tenths {
        width: 30%;
    }
    .small-two-fifths {
        width: 40%;
    }
    .small-one-half {
        width: 50%;
    }
    .small-three-fifths {
        width: 60%;
    }
    .small-two-thirds {
        width: 66.666666666%;
    }
    .small-seven-tenths {
        width: 70%;
    }
    .small-three-quarters {
        width: 75%;
    }
    .small-four-fifths {
        width: 80%;
    }
    .small-nine-tenths {
        width: 90%;
    }
    .small-full {
        width: 100%;
    }
}

@include medium {
    .medium-one-tenth {
        width: 10%;
    }
    .medium-one-quarter {
        width: 25%;
    }
    .medium-one-fifth {
        width: 20%;
    }
    .medium-one-third {
        width: 33.333333333%;
    }
    .medium-three-tenths {
        width: 30%;
    }
    .medium-two-fifths {
        width: 40%;
    }
    .medium-one-half {
        width: 50%;
    }
    .medium-three-fifths {
        width: 60%;
    }
    .medium-two-thirds {
        width: 66.666666666%;
    }
    .medium-seven-tenths {
        width: 70%;
    }
    .medium-three-quarters {
        width: 75%;
    }
    .medium-four-fifths {
        width: 80%;
    }
    .medium-nine-tenths {
        width: 90%;
    }
    .medium-full {
        width: 100%;
    }
}

@include large {
    .large-one-tenth {
        width: 10%;
    }
    .large-one-quarter {
        width: 25%;
    }
    .large-one-fifth {
        width: 20%;
    }
    .large-one-third {
        width: 33.333333333%;
    }
    .large-three-tenths {
        width: 30%;
    }
    .large-two-fifths {
        width: 40%;
    }
    .large-one-half {
        width: 50%;
    }
    .large-three-fifths {
        width: 60%;
    }
    .large-two-thirds {
        width: 66.666666666%;
    }
    .large-seven-tenths {
        width: 70%;
    }
    .large-three-quarters {
        width: 75%;
    }
    .large-four-fifths {
        width: 80%;
    }
    .large-nine-tenths {
        width: 90%;
    }
    .large-full {
        width: 100%;
    }
}

@include xlarge {
    .xlarge-one-tenth {
        width: 10%;
    }
    .xlarge-one-quarter {
        width: 25%;
    }
    .xlarge-one-fifth {
        width: 20%;
    }
    .xlarge-one-third {
        width: 33.333333333%;
    }
    .xlarge-three-tenths {
        width: 30%;
    }
    .xlarge-two-fifths {
        width: 40%;
    }
    .xlarge-one-half {
        width: 50%;
    }
    .xlarge-three-fifths {
        width: 60%;
    }
    .xlarge-two-thirds {
        width: 66.666666666%;
    }
    .xlarge-seven-tenths {
        width: 70%;
    }
    .xlarge-three-quarters {
        width: 75%;
    }
    .xlarge-four-fifths {
        width: 80%;
    }
    .xlarge-nine-tenths {
        width: 90%;
    }
    .xlarge-full {
        width: 100%;
    }
}
