// -----------------------------------------------------------------------------
// Controls / Buttons
// -----------------------------------------------------------------------------

.controls {
    padding-top: 1.5rem;
    margin-top: 1.5rem;
    border-top: 1px solid $color-grey-haze;
}

// .btn {
// 	width:44px;
// 	height:44px;
// 	color: $color-stage-bg;
// 	border-radius: 50px;
// 	border:none;
// 	box-shadow:none;
// }

button {
    height: 38px;
    padding: 0 .75rem;
    margin: 0 .3125rem .3125rem ;
    font-size: 14px;
    font-weight: 600;
    font-weight: $font-weight-bold;
    color: white;
    text-transform: uppercase;
    background-color: $color-brand-1;
    border: none;
    border-radius: 2px;
    transition: background-color .2s ease;
    &:first-child {
        margin-left: 0;
    }
    &:hover {
        color: white;
        background-color: $color-blue-lake;
    }
}

.btn-orange {
    background-color: $color-brand-2;
    &:hover {
        background-color: darken($color-brand-2, 20);
    }
}

.volume-control {
    span {
        @extend %inline-block;

        font-size: 14px;
        color: $color-grey-cement;
        text-transform: uppercase;
        vertical-align: middle !important;
    }
}

.rc-slider {
    @extend %inline-block;

    margin-left: 1.5rem;
    vertical-align: middle !important;
    background-color: #dbebd2;
}

.rc-slider-track {
    background-color: $color-brand-1;
}

.rc-slider-handle {
    border: solid 2px $color-brand-1;
}
