// -----------------------------------------------------------------------------
// Current Song
// -----------------------------------------------------------------------------



.song-details {
    position: relative;
    a {
        color: $color-text;
        text-decoration: none;
        &:hover {
            color: $color-blue-lake;
        }
    }
}

.song-details__graphic {
    @extend %inline-block;

    width: 60px;
    height: 60px;
    padding-top: 7px;
    text-align: center;
    background: $color-brand-1;
    border-radius: 30px;
}

.song-details__content {
    @extend %inline-block;
    //width:100%;

    padding-left: 1.5rem;

    p {
        margin-bottom: 0;
    }
}

div.error {
    color: red;
}
