// -----------------------------------------------------------------------------
// Header
// -----------------------------------------------------------------------------

.header {
    background: $color-stage-bg;
    padding-top: 5%;
    padding-bottom: 2%;
}
