// -----------------------------------------------------------------------------
// Last Updated
// -----------------------------------------------------------------------------

.last-updated {
    p {
        color: $color-grey-cement;
        font-size: 13px;
        margin-bottom: 0;
    }

    @include medium {
        text-align: left;
    }
}

.last-updated__time {
    margin-bottom: 1.25rem;
}

.loading {
    padding-top: 16px;
}
