/*================*/
/*RC SLIDER*/
/*converted directly from assets/less file inside package*/
/*================*/
.rc-slider {
    position: relative;
    width: 100px;
    height: 4px;
    background-color: #e9e9e9;
    border-radius: 6px;
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider * {
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-slider-track {
    position: absolute;
    left: 0;
    z-index: 1;
    height: 4px;
    background-color: #dbebd2;
    border-radius: 6px;
}
.rc-slider-handle {
    position: absolute;
    z-index: 2;
    width: 14px;
    height: 14px;
    margin-top: -5px;
    margin-left: -7px;
    cursor: pointer;
    background-color: #fff;
    border: solid 2px #d2e6c7;
    border-radius: 50%;
}
.rc-slider-handle:hover {
    border-color: #b7d6a5;
}
.rc-slider-handle-active:active {
    border-color: #b7d6a5;
    box-shadow: 0 0 5px #b7d6a5;
}
.rc-slider-mark {
    position: absolute;
    top: 10px;
    left: 0;
    z-index: 3;
    width: 100%;
    font-size: 12px;
}
.rc-slider-mark-text {
    display: inline-block;
    position: absolute;
    color: #999;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
.rc-slider-mark-text-active {
    color: #666;
}
.rc-slider-step {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 4px;
    background: transparent;
}
.rc-slider-dot {
    position: absolute;
    top: -2px;
    width: 8px;
    height: 8px;
    margin-left: -4px;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #e9e9e9;
    border-radius: 50%;
}
.rc-slider-dot:first-child {
    margin-left: -4px;
}
.rc-slider-dot:last-child {
    margin-left: -4px;
}
.rc-slider-dot-active {
    border-color: #d2e6c7;
}
.rc-slider-disabled {
    background-color: #e9e9e9;
}
.rc-slider-disabled .rc-slider-track {
    background-color: #ccc;
}
.rc-slider-disabled .rc-slider-handle,
.rc-slider-disabled .rc-slider-dot {
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ccc;
}
.rc-slider-disabled .rc-slider-mark-text,
.rc-slider-disabled .rc-slider-dot {
    cursor: not-allowed !important;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
    display: block !important;
    animation-duration: .3s;
    animation-play-state: paused;
    animation-fill-mode: both;
}
.rc-slider-tooltip-zoom-down-leave {
    display: block !important;
    animation-duration: .3s;
    animation-play-state: paused;
    animation-fill-mode: both;
}
.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active,
.rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
    animation-name: rcSliderTooltipZoomDownIn;
    animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
    animation-name: rcSliderTooltipZoomDownOut;
    animation-play-state: running;
}
.rc-slider-tooltip-zoom-down-enter,
.rc-slider-tooltip-zoom-down-appear {
    transform: scale(0, 0);
    animation-timing-function: cubic-bezier(.23, 1, .32, 1);
}
.rc-slider-tooltip-zoom-down-leave {
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
}
@keyframes rcSliderTooltipZoomDownIn {
    0% {
        opacity: 0;
        transform: scale(0, 0);

        transform-origin: 50% 100%;
    }
    100% {
        transform: scale(1, 1);

        transform-origin: 50% 100%;
    }
}
@keyframes rcSliderTooltipZoomDownOut {
    0% {
        transform: scale(1, 1);

        transform-origin: 50% 100%;
    }
    100% {
        opacity: 0;
        transform: scale(0, 0);

        transform-origin: 50% 100%;
    }
}
.rc-tooltip {
    position: absolute;
    top: -9999px;
    left: -9999px;
    z-index: 4;
    visibility: visible;
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-tooltip * {
    box-sizing: border-box;

    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.rc-tooltip-hidden {
    display: none;
}
.rc-tooltip-placement-top {
    padding: 4px 0 8px 0;
}
.rc-tooltip-inner {
    height: 24px;
    min-width: 24px;
    padding: 6px 2px;
    font-size: 12px;
    line-height: 1;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #6c6c6c;
    border-radius: 6px;
    box-shadow: 0 0 4px #d9d9d9;
}
.rc-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}
.rc-tooltip-placement-top .rc-tooltip-arrow {
    bottom: 4px;
    left: 50%;
    margin-left: -4px;
    border-top-color: #6c6c6c;
    border-width: 4px 4px 0;
}
