// RC SLIDER
// converted directly from assets/less file inside package
$color-grey: #666;
$color-grey-dark: #999;
$color-grey-light: #ccc;
$color-grey-super-light: #e9e9e9;
$color-green-handle: #d2e6c7;
$color-green-handle-hover: #b7d6a5;
$color-tooltip: #6c6c6c;
$color-tooltip-shadow: #d9d9d9;

.rc-slider {
    position: relative;
    height: 4px;
    width: 100px;
    border-radius: 6px;
    background-color: $color-grey-super-light;
    box-sizing: border-box;
    -webkit-tap-highlight-color: $color-black;
}

.rc-slider * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: $color-black;
}

.rc-slider-track {
    position: absolute;
    left: 0;
    height: 4px;
    border-radius: 6px;
    background-color: $color-green-track;
    z-index: 1;
}

.rc-slider-handle {
    position: absolute;
    margin-left: -7px;
    margin-top: -5px;
    width: 14px;
    height: 14px;
    cursor: pointer;
    border-radius: 50%;
    border: solid 2px $color-green-handle;
    background-color: $color-white;
    z-index: 2;
}

.rc-slider-handle:hover {
    border-color: $color-green-handle-hover;
}

.rc-slider-handle-active:active {
    border-color: $color-green-handle-hover;
    box-shadow: 0 0 5px $color-green-handle-hover;
}

.rc-slider-mark {
    position: absolute;
    top: 10px;
    left: 0;
    width: 100%;
    font-size: 12px;
    z-index: 3;
}

.rc-slider-mark-text {
    display: inline-block;
    position: absolute;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    color: $color-grey-dark;
}

.rc-slider-mark-text-active {
    color: $color-grey;
}

.rc-slider-step {
    position: absolute;
    width: 100%;
    height: 4px;
    background: transparent;
    z-index: 1;
}

.rc-slider-dot {
    position: absolute;
    top: -2px;
    margin-left: -4px;
    width: 8px;
    height: 8px;
    border: 2px solid $color-grey-light;
    background-color: $color-white;
    cursor: pointer;
    border-radius: 50%;
    vertical-align: middle;
}

.rc-slider-dot:first-child {
    margin-left: -4px;
}

.rc-slider-dot:last-child {
    margin-left: -4px;
}

.rc-slider-dot-active {
    border-color: $color-green-handle;
}

.rc-slider-disabled {
    background-color: $color-grey-light;
}

.rc-slider-disabled .rc-slider-track {
    background-color: $color-grey-light;
}

.rc-slider-disabled .rc-slider-handle, .rc-slider-disabled .rc-slider-dot {
    border-color: $color-grey-light;
    background-color: $color-white;
    cursor: not-allowed;
}

.rc-slider-disabled .rc-slider-mark-text, .rc-slider-disabled .rc-slider-dot {
    cursor: not-allowed !important;
}

.rc-slider-tooltip-zoom-down-enter, .rc-slider-tooltip-zoom-down-appear {
    display: block !important;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

.rc-slider-tooltip-zoom-down-leave {
    display: block !important;
    animation-duration: .3s;
    animation-fill-mode: both;
    animation-play-state: paused;
}

.rc-slider-tooltip-zoom-down-enter.rc-slider-tooltip-zoom-down-enter-active, .rc-slider-tooltip-zoom-down-appear.rc-slider-tooltip-zoom-down-appear-active {
    animation-name: rcSliderTooltipZoomDownIn;
    animation-play-state: running;
}

.rc-slider-tooltip-zoom-down-leave.rc-slider-tooltip-zoom-down-leave-active {
    animation-name: rcSliderTooltipZoomDownOut;
    animation-play-state: running;
}

.rc-slider-tooltip-zoom-down-enter, .rc-slider-tooltip-zoom-down-appear {
    transform: scale(0, 0);
    animation-timing-function: cubic-bezier(.23, 1, .32, 1);
}

.rc-slider-tooltip-zoom-down-leave {
    animation-timing-function: cubic-bezier(.755, .05, .855, .06);
}

@keyframes rcSliderTooltipZoomDownIn {
    0% {
        opacity: 0;
        transform-origin: 50% 100%;
        transform: scale(0, 0);
    }

    100% {
        transform-origin: 50% 100%;
        transform: scale(1, 1);
    }
}

@keyframes rcSliderTooltipZoomDownOut {
    0% {
        transform-origin: 50% 100%;
        transform: scale(1, 1);
    }

    100% {
        opacity: 0;
        transform-origin: 50% 100%;
        transform: scale(0, 0);
    }
}

.rc-tooltip {
    position: absolute;
    left: -9999px;
    top: -9999px;
    z-index: 4;
    visibility: visible;
    box-sizing: border-box;
    -webkit-tap-highlight-color: $color-black;
}

.rc-tooltip * {
    box-sizing: border-box;
    -webkit-tap-highlight-color: $color-black;
}

.rc-tooltip-hidden {
    display: none;
}

.rc-tooltip-placement-top {
    padding: 4px 0 8px;
}

.rc-tooltip-inner {
    padding: 6px 2px;
    min-width: 24px;
    height: 24px;
    font-size: 12px;
    line-height: 1;
    color: $color-white;
    text-align: center;
    text-decoration: none;
    background-color: $color-tooltip;
    border-radius: 6px;
    box-shadow: 0 0 4px $color-tooltip-shadow;
}

.rc-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.rc-tooltip-placement-top .rc-tooltip-arrow {
    bottom: 4px;
    left: 50%;
    margin-left: -4px;
    border-width: 4px 4px 0;
    border-top-color: $color-tooltip;
}
